/* css code fixes */
.home-feature-card,
.home-feature-card1,
.home-feature-card2 {
  background-image: url("public/external/texture-1.jpg");
}
.home-container05 {
  background-image: url("public/external/classroom.jpg");
}
.home-trust {
  background-image: url("public/external/students-2.jpg");
}
.home-cta {
  background-image: url("public/external/speeding.jpg");
}
.button {
  width: 100%;
}
.home-cta .button {
  height: 45px;
}
.slick-slide {
  text-align: center;
}
.home-ul2 p {
  margin-top: var(--dl-space-space-twounits);
}
.home-ul2 h3 {
  cursor: pointer;
}
.home-form-wrap1 {
  margin-left: auto;
  margin-right: auto;
  height: 45px;
}
.home-container65 {
  background-image: url("public/external/success.svg");
}
.hidden {
  display: none;
}
.home-form {
  text-align: center;
}
.home-form .input {
  line-height: 19px;
}
.input:focus {
  outline-color: var(--dl-color-primary-vibrantteal);
}
.home-form .button {
  margin-left: auto;
  margin-right: auto;
  height: 45px;
}
.invalid {
    border-color: var(--dl-color-danger-500);
}
.prev-button {
  max-width: 100px;
}
.next-button, button[type="submit"] {
  max-width: 200px;
}
.progress-bar__spacer-active {
  background-color: var(--dl-color-primary-vibrantteal);
}
@media(max-width: 390px) {
  .wrap {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}