/* css code fixes */
.home-feature-card,
.home-feature-card1,
.home-feature-card2 {
  background-image: url("public/external/texture-1.jpg");
}
.home-container05 {
  background-image: url("public/external/classroom.jpg");
}
.home-trust {
  background-image: url("public/external/students-2.jpg");
}
.home-cta {
  background-image: url("public/external/speeding.jpg");
}
.button {
  width: 100%;
}
.home-cta .button {
  height: 45px;
}
.slick-slide {
  text-align: center;
}
.home-ul2 p {
  margin-top: var(--dl-space-space-twounits);
}
.home-ul2 h3 {
  cursor: pointer;
}
.home-form-wrap1 {
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 390px) {
  .wrap {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}