.navigation-links-nav {
  flex: 0 0 auto;
  color: var(--dl-color-gray-900);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  text-decoration: none;
}
.navigation-links-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.testimonial-card3-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.testimonial-card3-icon {
  fill: var(--dl-color-primary-vibrantteal);
  color: var(--dl-color-primary-vibrantteal);
  width: var(--dl-size-size-small);
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card3-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial-card3-text {
  color: var(--dl-color-gray-text);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card3-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card3-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.testimonial-card3-text3 {
  font-size: 14px;
}

@media(max-width: 1280px) {
  .testimonial-card3-root-class-name {
    width: auto;
    max-width: 400px;
  }
}
@media(max-width: 991px) {
  .testimonial-card3-root-class-name {
    max-width: auto;
  }
}
@media(max-width: 767px) {
  .testimonial-card3-icon {
    height: var(--dl-size-size-small);
  }
  .testimonial-card3-root-class-name {
    max-width: 400px;
  }
}
@media(max-width: 479px) {
  .testimonial-card3-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .testimonial-card3-root-class-name {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.home-container01 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  margin-left: auto;
  padding-top: var(--dl-space-space-halfunit);
  margin-right: auto;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.home-image {
  height: 3rem;
}
.home-nav {
  display: flex;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-register {
  text-decoration: none;
  background-color: var(--dl-color-primary-gold);
}
.home-burger-menu {
  display: none;
}
.home-icon {
  color: var(--dl-color-gray-white);
  width: 32px;
  height: 32px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 10;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-primary-deepblue);
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image01 {
  height: 42px;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
}
.home-icon04 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.home-image02 {
  width: 24px;
  display: inline-block;
}
.home-hero {
  width: 100%;
  background-size: cover;
  background-image: url("public/external/hero-section-1500w.jpg");
  background-position: left;
}
.home-container03 {
  justify-content: center;
}
.home-text {
  color: var(--dl-color-primary-gold);
  font-size: 55px;
  align-self: flex-start;
  text-align: left;
  margin-left: 50%;
}
.home-text001 {
  color: #ffd0b1;
  font-size: 20px;
  align-self: flex-start;
  margin-top: 20px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 50%;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-about {
  padding-bottom: 0;
}
.home-text002 {
  color: var(--dl-color-gray-text);
  text-align: center;
}
.home-text003 {
  color: var(--dl-color-gray-text);
  font-size: 20px;
  max-width: 750px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 600;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-container04 {
  color: var(--dl-color-gray-900);
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  text-align: center;
  margin-bottom: var(--dl-space-space-sixunits);
}
.home-container05 {
  width: 50%;
  padding: var(--dl-space-space-fourunits);
  background-size: initial;
  background-color: var(--dl-color-primary-deepblue);
  background-image: ad9e1afb-a330-4ca4-9b5c-e4e4b56bc1fc;
  background-position: bottom;
}
.home-text004 {
  color: var(--dl-color-gray-white);
  line-height: 160%;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container06 {
  width: 50%;
  padding: var(--dl-space-space-fourunits);
  background-color: var(--dl-color-primary-vibrantteal);
}
.home-text010 {
  color: var(--dl-color-primary-deepblue);
  line-height: 160%;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text015 {
  color: var(--dl-color-gray-black);
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: space-around;
}
.home-container08 {
  max-width: 700px;
}
.home-text016 {
  font-size: 1rem;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-text020 {
  text-align: left;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text021 {
  text-align: left;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text022 {
  font-size: 17px;
  text-align: left;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-features {
  width: 100%;
  display: flex;
  padding-top: 0;
  flex-direction: row;
  justify-content: space-between;
}
.home-feature-card {
  color: var(--dl-color-gray-white);
  width: 32%;
  height: 350px;
  display: inline-block;
  padding: var(--dl-space-space-unit);
  max-width: 400px;
  padding-top: 100px;
  background-size: initial;
  background-color: var(--dl-color-primary-deepblue);
  background-image: d9839878-1f99-4eaf-bb8e-ad2e6a915e9b;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
.home-image03 {
  width: 200px;
  display: none;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.home-text023 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text024 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
}
.home-feature-card1 {
  color: var(--dl-color-gray-white);
  width: 32%;
  height: 350px;
  display: inline-block;
  padding: var(--dl-space-space-unit);
  max-width: 400px;
  padding-top: 100px;
  background-size: inherit;
  background-color: var(--dl-color-primary-deepblue);
  background-image: d9839878-1f99-4eaf-bb8e-ad2e6a915e9b;
  background-position: right;
  background-blend-mode: darken;
}
.home-image04 {
  width: 200px;
  display: none;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.home-text025 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text026 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
}
.home-feature-card2 {
  color: var(--dl-color-gray-white);
  width: 32%;
  height: 350px;
  display: inline-block;
  padding: var(--dl-space-space-unit);
  max-width: 400px;
  padding-top: 100px;
  background-size: initial;
  background-color: var(--dl-color-primary-deepblue);
  background-image: d9839878-1f99-4eaf-bb8e-ad2e6a915e9b;
  background-position: center;
  background-blend-mode: darken;
}
.home-image05 {
  width: 200px;
  display: none;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.home-text027 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text028 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
}
.home-we-do-care {
  width: 100%;
  background-color: #FFDAB9;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: 0;
}
.home-container10 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image06 {
  width: 300px;
  object-fit: cover;
}
.home-container11 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  margin-top: 0;
  align-items: flex-start;
  flex-direction: column;
}
.home-text029 {
  color: var(--dl-color-gray-text);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text030 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text031 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text032 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text033 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text034 {
  font-style: italic;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-testimonial {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-text035 {
  color: var(--dl-color-gray-text);
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container13 {
  text-align: center;
}
.home-image07 {
  width: 40px;
  cursor: pointer;
  display: inline-block;
  opacity: 60%;
  transition: 0.3s;
  margin-right: 10px;
}
.home-image07:hover {
  opacity: 100%;
}
.home-image08 {
  width: 40px;
  cursor: pointer;
  display: inline-block;
  opacity: 60%;
  transition: 0.3s;
  margin-left: 10px;
}
.home-image08:hover {
  opacity: 100%;
}
.home-modules {
  width: 100%;
  background-color: #ddf4fa;
}
.home-container14 {
  width: 100%;
}
.home-text036 {
  color: var(--dl-color-gray-text);
  text-align: center;
  margin-bottom: 90px;
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-container16 {
  flex: 0 0 auto;
  width: 65%;
  display: flex;
  margin-top: 0;
  align-items: flex-start;
  flex-direction: column;
}
.home-container17 {
  position: relative;
  padding-left: 70px;
}
.home-text040 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container18 {
  position: relative;
  padding-left: 70px;
}
.home-text045 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container19 {
  position: relative;
  padding-left: 70px;
}
.home-text048 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container20 {
  position: relative;
  padding-left: 70px;
}
.home-text051 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container21 {
  position: relative;
  padding-left: 70px;
}
.home-text054 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container22 {
  position: relative;
  padding-left: 70px;
}
.home-text057 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container23 {
  position: relative;
  padding-left: 70px;
}
.home-text060 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container24 {
  position: relative;
  padding-left: 70px;
}
.home-text066 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container25 {
  position: relative;
  padding-left: 70px;
}
.home-text069 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container26 {
  width: 35%;
  padding-left: 150px;
}
.home-text071 {
  font-size: 18px;
  font-weight: 500;
}
.home-text075 {
  color: var(--dl-color-gray-white);
  display: inline-block;
  padding: 10px;
  font-size: 23px;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: var(--dl-color-primary-vibrantteal);
}
.home-text076 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.home-text080 {
  color: var(--dl-color-gray-white);
  display: inline-block;
  padding: 10px;
  font-size: 23px;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: var(--dl-color-primary-vibrantteal);
}
.home-text081 {
  font-size: 18px;
  font-weight: 500;
}
.home-text085 {
  color: var(--dl-color-gray-white);
  display: inline-block;
  padding: 10px;
  font-size: 23px;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: var(--dl-color-primary-vibrantteal);
}
.home-trust {
  width: 100%;
  background-size: cover;
  background-color: var(--dl-color-primary-deepblue);
  background-image: ea1cf3d7-f3dc-403b-8942-17e020e6bc3b;
}
.home-container30 {
  width: 100%;
}
.home-text086 {
  color: var(--dl-color-gray-900);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-container31 {
  width: 60%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
.home-text087 {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text088 {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text089 {
  color: var(--dl-color-gray-900);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container32 {
  width: 100%;
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.home-container33 {
  color: var(--dl-color-gray-900);
  width: 30%;
  text-align: center;
}
.home-text090 {
  display: block;
  font-size: 55px;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container34 {
  width: 50px;
  height: 5px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dl-color-primary-gold);
}
.home-container35 {
  color: var(--dl-color-gray-900);
  width: 30%;
  text-align: center;
}
.home-text092 {
  display: block;
  font-size: 55px;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container36 {
  width: 50px;
  height: 5px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dl-color-primary-gold);
}
.home-container37 {
  color: var(--dl-color-gray-900);
  width: 30%;
  text-align: center;
}
.home-text094 {
  display: block;
  font-size: 55px;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container38 {
  width: 50px;
  height: 5px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dl-color-primary-gold);
}
.home-outcomes {
  padding-bottom: 40px;
}
.home-text096 {
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text097 {
  font-size: 20px;
  text-align: center;
}
.home-container39 {
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-container40 {
  width: 50%;
}
.home-ul {
  padding-left: 0;
}
.home-li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 18px;
}
.home-container41 {
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--dl-color-primary-gold);
}
.home-li01 {
  position: relative;
  padding-left: 30px;
  margin-bottom: 18px;
}
.home-container42 {
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--dl-color-primary-gold);
}
.home-li02 {
  position: relative;
  padding-left: 30px;
  margin-bottom: 18px;
}
.home-container43 {
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--dl-color-primary-gold);
}
.home-container44 {
  width: 50%;
}
.home-ul1 {
  padding-left: 0;
}
.home-li03 {
  position: relative;
  padding-left: 30px;
  margin-bottom: 18px;
}
.home-container45 {
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--dl-color-primary-gold);
}
.home-li04 {
  position: relative;
  padding-left: 30px;
  margin-bottom: 18px;
}
.home-container46 {
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--dl-color-primary-gold);
}
.home-text103 {
  font-size: 20px;
  text-align: center;
}
.home-confidence {
  width: 100%;
  background: radial-gradient(circle, rgba(251,187,185,1) 62%, rgba(216,136,139,1) 100%);
  padding-bottom: 0;
  background-color: #f8b5af;
}
.home-container47 {
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: 0;
}
.home-text104 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-container48 {
  width: 100%;
  display: flex;
}
.home-container49 {
  width: 45%;
  padding-top: 70px;
}
.home-icon06 {
  color: var(--dl-color-primary-vibrantteal);
  width: 25px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text105 {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text108 {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 30px;
}
.home-container50 {
  width: 55%;
  text-align: center;
}
.home-image09 {
  width: 70%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.home-cta {
  width: 100%;
  background-size: cover;
  background-color: var(--dl-color-primary-deepblue);
  background-image: b4742d7a-a85a-402a-9e61-ff9560ea729d;
  background-position: center;
}
.home-container51 {
  text-align: center;
}
.home-text109 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-button {
  font-size: 20px;
  margin-left: auto;
  padding-top: 10px;
  margin-right: auto;
  padding-bottom: 10px;
}
.home-text110 {
  color: var(--dl-color-gray-white);
  font-size: 25px;
  margin-top: 120px;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-button1 {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dl-color-primary-700);
}
.home-text111 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-ul2 {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.home-li05 {
  display: block;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  border-bottom: 1px solid #000000;
  padding-right: 80px;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text112 {
  font-size: 19px;
  font-weight: 600;
}
.home-text113 {
  margin-top: var(--dl-space-space-twounits);
}
.home-li06 {
  display: block;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  border-bottom: 1px solid #000000;
  padding-right: 80px;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text114 {
  font-size: 19px;
  font-weight: 600;
}
.home-li07 {
  display: block;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  border-bottom: 1px solid #000000;
  padding-right: 80px;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text116 {
  font-size: 19px;
  font-weight: 600;
}
.home-li08 {
  display: block;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  border-bottom: 1px solid #000000;
  padding-right: 80px;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text118 {
  font-size: 19px;
  font-weight: 600;
}
.home-footer {
  color: var(--dl-color-gray-900);
  width: 100%;
  font-size: 14px;
  align-items: center;
  background-color: var(--dl-color-gray-text);
}
.home-container52 {
  display: flex;
  max-width: 900px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
}
.home-container53 {
  width: 40%;
}
.home-image14 {
  width: 100px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text120 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.home-icon-group1 {
  margin-top: var(--dl-space-space-unit);
}
.home-icon08 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.home-image15 {
  width: 24px;
  display: inline-block;
  text-decoration: none;
}
.home-links-container {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.home-container54 {
  width: 50%;
}
.home-text124 {
  font-size: 14px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-li09 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-link2 {
  text-decoration: none;
}
.home-li10 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-link3 {
  text-decoration: none;
}
.home-link4 {
  text-decoration: none;
}
.home-container56 {
  width: 50%;
}
.home-text125 {
  font-size: 14px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-li13 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-link5 {
  text-decoration: none;
}
.home-link6 {
  text-decoration: none;
}
.home-cta-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: fixed;
  align-items: center;
  background-color: rgba(2, 48, 71, 0.95);
}
.home-popup-wrap {
  height: 750px;
  opacity: 1;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: 600px;
  margin-top: var(--dl-space-space-fourunits);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dl-color-gray-white);
}
.home-button2 {
  top: 10px;
  color: var(--dl-color-gray-500);
  right: 10px;
  width: 30px;
  cursor: pointer;
  height: 30px;
  position: absolute;
  font-size: 36px;
}
.home-form-wrap {
  display: none;
}
.home-text126 {
  font-size: 20px;
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-form {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.home-button3 {
  max-width: 200px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: auto;
  margin-right: auto;
}
.home-step-2 {
  display: none;
}
.home-container63 {
  display: flex;
  justify-content: space-between;
}
.home-button4 {
  color: var(--dl-color-gray-text);
  width: 100px;
  display: inline-block;
  font-size: 14px;
  max-width: auto;
  margin-top: var(--dl-space-space-twounits);
  margin-left: auto;
  border-color: var(--dl-color-primary-700);
  border-width: 2px;
  margin-right: auto;
  background-color: var(--dl-color-gray-white);
}
.home-button5 {
  width: 200px;
  display: inline-block;
  margin-top: var(--dl-space-space-twounits);
  margin-left: auto;
  margin-right: auto;
}
.home-step-3 {
  display: none;
}
.home-container64 {
  display: flex;
  justify-content: space-between;
}
.home-button6 {
  color: var(--dl-color-gray-text);
  width: 100px;
  display: inline-block;
  font-size: 14px;
  max-width: auto;
  margin-top: var(--dl-space-space-twounits);
  margin-left: auto;
  border-color: var(--dl-color-primary-700);
  border-width: 2px;
  margin-right: auto;
  background-color: var(--dl-color-gray-white);
}
.home-button7 {
  width: 200px;
  display: inline-block;
  margin-top: var(--dl-space-space-twounits);
  margin-left: auto;
  margin-right: auto;
}
.home-form-wrap1 {
  max-width: 400px;
  text-align: center;
  padding-top: 50px;
}
.home-container65 {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-size: cover;
  background-image: 38ef6225-2a73-4d36-9336-2016275046af;
}
.home-text148 {
  color: var(--dl-color-primary-vibrantteal);
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text149 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text150 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text151 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-button8 {
  color: var(--dl-color-gray-text);
  width: 180px;
  border: 2px solid #219EBC;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dl-color-gray-white);
}
@media(max-width: 1600px) {
  .home-button8 {
    background-color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1280px) {
  .home-hero {
    min-height: 500px;
  }
  .home-container04 {
    background-color: var(--dl-color-primary-deepblue);
  }
  .home-text005 {
    font-weight: 400;
  }
  .home-text006 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text017 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
  }
  .home-text018 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
  }
  .home-text019 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
  }
  .home-image03 {
    width: 60px;
  }
  .home-text023 {
    font-size: 20px;
  }
  .home-text024 {
    color: var(--dl-color-gray-white);
  }
  .home-image04 {
    width: 60px;
  }
  .home-text025 {
    font-size: 20px;
    font-weight: 600;
  }
  .home-text026 {
    color: var(--dl-color-gray-white);
    font-size: 15px;
  }
  .home-image05 {
    width: 60px;
  }
  .home-text027 {
    font-size: 20px;
    font-weight: 600;
  }
  .home-text028 {
    color: var(--dl-color-gray-white);
    font-size: 15px;
  }
  .home-container11 {
    width: 50%;
    margin-top: 0px;
  }
  .home-container16 {
    width: 60%;
  }
  .home-text038 {
    font-size: 20px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 400;
  }
  .home-text072 {
    font-style: normal;
    font-weight: 400;
  }
  .home-text076 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .home-text077 {
    font-style: normal;
    font-weight: 400;
  }
  .home-text081 {
    font-size: 18px;
    font-weight: 500;
  }
  .home-text082 {
    font-style: normal;
    font-weight: 400;
  }
  .home-text086 {
    color: var(--dl-color-gray-white);
  }
  .home-text087 {
    color: var(--dl-color-gray-900);
  }
  .home-text088 {
    color: var(--dl-color-gray-900);
  }
  .home-text089 {
    color: var(--dl-color-gray-900);
  }
  .home-text096 {
    color: var(--dl-color-gray-text);
  }
  .home-text097 {
    font-size: 20px;
  }
  .home-text103 {
    font-size: 20px;
  }
  .home-icon06 {
    fill: var(--dl-color-gray-text);
  }
  .home-faq {
    width: 100%;
  }
  .home-text111 {
    color: var(--dl-color-gray-text);
  }
  .home-text114 {
    font-size: 19px;
    font-weight: 600;
  }
  .home-text116 {
    font-size: 19px;
  }
  .home-text118 {
    font-size: 19px;
    font-weight: 600;
  }
  .home-container54 {
    align-self: flex-start;
  }
  .home-text124 {
    font-size: 14px;
  }
  .home-container56 {
    align-self: flex-start;
  }
  .home-text125 {
    font-size: 14px;
  }
}
@media(max-width: 991px) {
  .home-container01 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container12 {
    flex-direction: column;
  }
  .home-container26 {
    padding-left: 100px;
  }
  .home-container39 {
    text-align: center;
    flex-direction: column;
  }
  .home-container40 {
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .home-container44 {
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .home-container53 {
    align-items: center;
  }
  .home-container54 {
    margin-right: 0px;
  }
  .home-container56 {
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-nav {
    display: none;
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon {
    fill: var(--dl-color-gray-900);
  }
  .home-text017 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text018 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container15 {
    flex-direction: column;
  }
  .home-container16 {
    width: 100%;
  }
  .home-container26 {
    width: 100%;
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    padding-left: 0;
  }
  .home-container27 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text071 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-container28 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text076 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text081 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container31 {
    width: 100%;
  }
  .home-container40 {
    width: 100%;
  }
  .home-container44 {
    width: 100%;
  }
  .home-icon06 {
    height: var(--dl-size-size-small);
  }
  .home-container54 {
    width: 100%;
    justify-content: space-between;
  }
  .home-container56 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .home-container01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-container03 {
    justify-content: flex-end;
  }
  .home-text {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-left: 0;
  }
  .home-text001 {
    color: var(--dl-color-gray-white);
    font-size: 19px;
    text-align: center;
    line-height: 1.3;
    margin-left: 0;
  }
  .home-text002 {
    font-size: 28px;
  }
  .home-container04 {
    margin-top: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .home-container05 {
    width: 100%;
  }
  .home-container06 {
    width: 100%;
  }
  .home-container07 {
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-text017 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
  }
  .home-text018 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
  }
  .home-text019 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
  }
  .home-features {
    flex-direction: column;
  }
  .home-feature-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text023 {
    font-style: normal;
  }
  .home-feature-card1 {
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text025 {
    font-style: normal;
  }
  .home-feature-card2 {
    width: 100%;
    max-width: 100%;
  }
  .home-text027 {
    font-style: normal;
  }
  .home-container09 {
    flex-direction: column-reverse;
  }
  .home-container10 {
    width: 100%;
  }
  .home-container11 {
    width: 100%;
  }
  .home-text029 {
    width: 100%;
    text-align: center;
  }
  .home-text035 {
    text-align: center;
  }
  .home-container31 {
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container32 {
    flex-direction: column;
  }
  .home-container33 {
    width: 100%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container34 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-container35 {
    width: 100%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container36 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-container37 {
    width: 100%;
  }
  .home-container38 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-container48 {
    flex-direction: column;
  }
  .home-container49 {
    width: 100%;
    padding-top: 0;
  }
  .home-container50 {
    width: 100%;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-container52 {
    flex-direction: column;
  }
  .home-container53 {
    width: 100%;
    text-align: center;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image14 {
    margin-left: auto;
    margin-right: auto;
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container54 {
    width: 50%;
  }
  .home-container55 {
    width: 50%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-container56 {
    width: 50%;
  }
  .home-container57 {
    margin-right: var(--dl-space-space-unit);
  }
  .home-popup-wrap {
    height: 100%;
  }
}
/* css code fixes */
.home-feature-card,
.home-feature-card1,
.home-feature-card2 {
  background-image: url("public/external/texture-1.jpg");
}
.home-container05 {
  background-image: url("public/external/classroom.jpg");
}
.home-trust {
  background-image: url("public/external/students-2.jpg");
}
.home-cta {
  background-image: url("public/external/speeding.jpg");
}
.button {
  width: 100%;
}
.home-cta .button {
  height: 45px;
}
@media(max-width: 390px) {
  .wrap {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}