<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav Content">
    <a href="#about_program" class="navigation-links-link Content">Program</a>
    <a href="#reviews" class="navigation-links-link1"><span>Reviews</span></a>
    <a href="#modules" class="navigation-links-link2"><span>Modules</span></a>
    <a href="#school" class="navigation-links-link3"><span>School</span></a>
    <a href="#cta" class="navigation-links-link4"><span>Contact</span></a>
  </nav>
</div>
